<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/send.css">
    </head>
    <body>
        <div id="menu" class="top_menu">
            <a href="/" class="main">Главная</a>
            <a href="/user/registrate" class="another_links">Регистрация</a>
            <a href="/user/login" class="another_links">Вход</a>
        </div>
        <div id="back" class="second_back">
            <p>Неверный логин и/или пароль!<br>
                Попробуйте войти снова.</p>
        </div>
    </body>
</html>