<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Вход</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/login.css">
    </head>
    <body>
        <div class="top_menu">
            <a href="/" class="main">Главная</a>
            <a href="/user/registrate" class="another_links">Регистрация</a><br>
        </div>
        <div class="second_back">
            <form method="post">
                <p>Вход</p>
                <label>Логин: <input type="text" name="username" class="field"></label><br>
                <label>Пароль: <input type="password" name="pass" class="field"></label><br>
                <input type="submit" name="Войти" class="button">
            </form>
        </div>
    </body>
</html>