.another_links {
    position: relative;
    right: -60%;
}

.concret_article {
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 130%;
    text-transform: uppercase;
}

.add {
    font-size: smaller;
    color:rgb(144, 144, 144);
}

.none {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    position: relative;
    left: 25%;
}